body {
    font-family: sans-serif;
    margin: 0px;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(7, 80px);
    justify-content: start;
    background-color: black;
    color: white;
    height: 30px;
    align-content: center;
    margin: 0px;
    padding: 0px;
}

.menu-container div {
    text-align: center;
}

.menu-item-1 {
    background-color: rgba(82, 82, 82, 0.787);
}

.body-container {
    display: grid;
    grid-template-columns: 9fr 21fr 13fr;
    height: 750px;
}

.body-container-1 {
    display: grid;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 20fr;
    background-color: rgb(234, 233, 233);
}

.body-container-1 div {
    padding: 15px;
    align-self: center;
}

.container-1-item-1 {
    font-size: 25px;
}

.body-container-2 {
    display: grid;
    grid-template-rows: 1fr 1.5fr 1fr 1.5fr 3fr;
    height: 100%;
}

.container-2-heading {
    font-size: 40px;
    color: rgb(43, 156, 145);
    align-self: center;
    padding: 20px;
}

.container-2-text {
    padding: 20px;
    align-self: flex-start
}

.body-container-3 {
    display: grid;
    grid-template-rows: 1fr 1.8fr 0.8fr 1fr 1.8fr 4fr;
    color: rgb(174, 173, 173);
}

.body-container-3 div {
    display: grid;
    align-content: center;
}

.ad-container {
    border: 1px solid rgb(211, 211, 211);
    text-align: center;
    vertical-align: middle;
    margin: 10px;
    position: relative;
    top: 25px;
}