body {
    margin: 0;
    font-family: sans-serif;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(7, 80px);
    align-content: center;
    justify-content: start;
    margin: 0;
    background-color: black;
    padding: 0;
    height: 30px;
    color: white;
}

.menu-container div {
    text-align: center;
}

.menu-item-1 {
    background-color: rgb(82 82 82 / 78.7%);
}

.body-container {
    display: grid;
    grid-template-columns: 9fr 21fr 13fr;
    height: 750px;
}

.body-container-1 {
    display: grid;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 20fr;
    background-color: rgb(234 233 233);
}

.body-container-1 div {
    align-self: center;
    padding: 15px;
}

.container-1-item-1 {
    font-size: 25px;
}

.body-container-2 {
    display: grid;
    grid-template-rows: 1fr 1.5fr 1fr 1.5fr 3fr;
    height: 100%;
}

.container-2-heading {
    align-self: center;
    padding: 20px;
    color: rgb(43 156 145);
    font-size: 40px;
}

.container-2-text {
    align-self: flex-start;
    padding: 20px
}

.body-container-3 {
    display: grid;
    grid-template-rows: 1fr 1.8fr 0.8fr 1fr 1.8fr 4fr;
    color: rgb(174 173 173);
}

.body-container-3 div {
    display: grid;
    align-content: center;
}

.ad-container {
    position: relative;
    top: 25px;
    margin: 10px;
    border: 1px solid rgb(211 211 211);
    vertical-align: middle;
    text-align: center;
}