body {
    display: flex;
    align-content: center;
    align-items: center;    
    justify-content: center ;
    background-color: rgb(118 195 93);
    height: 800px;
    font-family: sans-serif;
}

span {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;
    background-color: white;
    width: 400px;
    height: 310px;
}

input[type=text] {
    margin: 6px;
    border: 0;
    background-color: #f1f1f1;
    width: 280px;
    height: 50px;
    text-align: left;
    text-indent: 1ch;
    color: rgb(206 203 203);
}

button {
    margin: 6px;
    border: 0;
    border-radius: 0%;
    background-color: rgb(0 178 66);
    width: 280px;
    line-height: 50px;
    color:white;
    font-weight: lighter;
}

div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.not {
    margin: 4px;
    color:rgb(206 203 203);
    font-size: smaller;
}

.create {  
    margin: 4px;
    color: rgb(118 195 93);
    font-size: smaller;
}   