body{
    margin: 0%;
    padding: 0%;
    background: black;
    display: flex;
    justify-content: center;
}
.container{
    font-family: "Arial", Helvetica, sans-serif;
    padding: 30px;
    color: rgba(0, 0, 0, 0.907);
    font-weight: bold;
    position: absolute;
    top: 48%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 45px;
    white-space: nowrap;
}
body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

